.success-container {
    display: flex;
    height: 100vh;
    font-family: "Inter", sans-serif;
}

/* ===== Left Side ===== */
.left-side {
    flex: 1;
    background-image: url(../../../../assets/images/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side img {
    width: 80%;
    max-width: 500px;
    border-radius: 20px;
}


/* ===== Right Side ===== */
.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Wrap content vertically */
.right-side .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* Header styles */
.right-side .header {
    text-align: left;
    width: min(80%, 450px);
}

.right-side .header img {
    width: 80px;
    margin-bottom: 15px;
}

.right-side .header h2 {
    font-size: 32px;
    color: var(--color-text);
    margin-bottom: 10px;
}

.right-side .header p {
    font-size: 14px;
    color: var(--color-text-light);
}

/* Button */
.right-side button {
    width: min(80%, 450px);
    padding: 14px 0;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background: var(--color-primary);
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.right-side button:hover {
    background: var(--color-primary-hover);
}

