<div class="forgotPassword-container">
    <div class="left-side">
        <img src="../../../../assets/images/Forgot-password.png" alt="">
    </div>

    <div class="right-side">
        <div class="header">
            <img src="../../../../assets/icons/lock-outline.svg" alt="">
            <h2>Forgot Password</h2>
            <p>Enter your email to reset your password</p>
        </div>
        
        <form [formGroup]="form" (ngSubmit)="forgot_passowrd()" class="form">
            <!-- Email -->
            <label for="email">Email</label>
            <div class="input-group">
                <div class="input-wrapper">
                    <img src="../../../../assets/icons/email-outline.svg" alt="Email Icon" />
                    <input type="email" id="email" name="email" placeholder="Enter your email"
                        formControlName="email" />
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>

    </div>
</div>