<div class="success-container">
    <div class="left-side">
        <img src="../../../../assets/images/Success.png" alt="">
    </div>

    <div class="right-side">
        <div class="row">
            <div class="header">
                <img src="../../../../assets/images/checkmark-circle.png" alt="">
                <h2>Your Account Successfully Created</h2>
                <p>Let's Start your journey</p>
            </div>
            <button>Let's Go</button>
        </div>

    </div>
</div>