/* ===== Container ===== */
.verification-container {
  display: flex;
  height: 100vh;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

/* ===== Left Section ===== */
.verification-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../assets/images/background.png');
  background-size: cover;
  background-position: center;
}

.verification-left .overlay-image {
  width: 80%;
  max-width: 450px;
}

/* ===== Right Section ===== */
.verification-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.verification-right .content {
  width: 450px;
  background: #fff;
  padding: 20px 10px;
  border-radius: 12px;
}

/* ===== Titles ===== */
.verification-right h1 {
  font-weight: 600;
  font-size: 36px;
  color: #2E3139;
  margin-bottom: 5px;
}

.verification-right p {
  font-size: 14px;
  color: #425583;
  margin-bottom: 20px;
}

/* ===== OTP Inputs ===== */
.digits {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.otp {
  width: 44px;
  height: 44px;
  border: 1px solid #D3E0FE;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.otp:focus {
  border-color: #258378;
  box-shadow: 0 0 4px rgba(37, 131, 120, 0.3);
}

/* ===== Button ===== */
.verification-right .verifi-btn {
  width: 100%;
  height: 48px;
  background-color: #258378;
  border: none;
  border-radius: 100px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}

.verification-right .verifi-btn:hover {
  background-color: #1f6f65;
}

/* ===== Resend ===== */
.resend {
  font-size: 14px;
  color: #2E3139;
  text-align: center;
}

.resend span {
  font-weight: 600;
  color: #258378;
}

.resend-btn{
    border: none;
    background: none;
    color: var(--color-secondary);
    padding: 0px;
}