.reset-password-container {
  display: flex;
  height: 100vh;
  font-family: var(--font-main);
  background-color: var(--color-white);
}

/* ===== Left Side ===== */
.left-side {
  flex: 1;
  background-image: url('../../../../assets/images/background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side img {
  width: 80%;
  max-width: 450px;
}

/* ===== Right Side ===== */
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

/* ===== Header ===== */
.header {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

.header img {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #F1F6FF;
  border-radius: 50px;
}

.header h2 {
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 8px;
}

.header p {
  font-size: var(--font-size-sm);
  color: var(--color-text-light);
  margin-bottom: 20px;
}

/* ===== Form ===== */
.form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: var(--font-size-sm);
  color: var(--color-text);
}

.input-group {
  margin-bottom: 20px;
  width: 100%;
  display: block;
}

label {
  font-size: var(--font-size-xs);
  color: var(--color-text);
  margin-bottom: 6px;
  display: block;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1.5px solid var(--color-border);
  border-radius: 50px;
  padding: 10px 16px;
  gap: 10px;
  transition: 0.3s;
}
.input-wrapper:focus-within {
    border-color: var(--color-primary);
}


.input-wrapper img {
  width: 18px;
  height: 18px;
}

.input-wrapper input {
  border: none;
  outline: none;
  flex: 1;
  font-size: var(--font-size-sm);
  color: var(--color-text);
  
}


/* ===== Button ===== */
.form button {
  width: 100%;
  padding: 13px 0px;
  border-radius: 50px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  font-size: var(--font-size-md);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background-color: var(--color-primary-hover);
}
