<div class="reset-password-container">
    <div class="left-side">
        <img src="../../../../assets/images/Reset-Password.png" alt="">
    </div>
    <div class="right-side">
        <div class="header">
            <img src="../../../../assets/icons/lock-outline.svg" alt="">
            <h2>Set New Password</h2>
            <p>Enter your new password to complete the reset process</p>
        </div>

        <form [formGroup]="form" class="form" (ngSubmit)="reset_password()" class="form">
            <label>New Password</label>
            <div class="input-group">
                <div class="input-wrapper">
                    <img src="../../../../assets/icons/lock-outline.svg" />
                    <input type="password" name="password" placeholder="new password"
                        formControlName="password" />
                </div>

            </div>
            <label>Confirm New Password</label>
            <div class="input-group">
                <div class="input-wrapper">
                    <img src="../../../../assets/icons/lock-outline.svg" />
                    <input type="password" name="password_confirmation" placeholder="Confirm new password"
                        formControlName="password_confirmation" />
                </div>

            </div>
            <button type="submit">Save New Password</button>
        </form>
    </div>
</div>