:root {
  --color-primary: #258378;
  --color-primary-hover: #1f6f66;
  --color-secondary: #4045ef;
  --color-text: #2e3139;
  --color-text-light: #425583;
  --color-border: #d3e0fe;
  --color-bg-light: #e7f5f4;
  --color-bg-hover: #f6f9ff;

  --font-main: "Inter", sans-serif;
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
}

img {
  -webkit-user-drag: none;
}